
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsLabel">Create or edit a News</h4>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="modal-body">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" ng-show="vm.news.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="vm.news.id" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_newsTitle">News Title</label>
                    <input type="text" class="form-control" name="newsTitle" id="field_newsTitle"
                           ng-model="vm.news.newsTitle"
                           required />
                    <div ng-show="editForm.newsTitle.$invalid">
                        <p class="help-block"
                           ng-show="editForm.newsTitle.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_newsDescription">News Description</label>
                    <input type="text" class="form-control" name="newsDescription" id="field_newsDescription"
                           ng-model="vm.news.newsDescription"
                           required />
                    <div ng-show="editForm.newsDescription.$invalid">
                        <p class="help-block"
                           ng-show="editForm.newsDescription.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           ng-model="vm.news.isActive"
                    />
                </div>

                <div class="form-group">
                    <label for="field_subCategory">Sub Category</label>
                    <select class="form-control" id="field_subCategory" name="subCategory" ng-model="vm.news.subCategory" ng-options="subCategory as subCategory.name for subCategory in vm.subcategories track by subCategory.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Recommend Areas</h4>
            <ul id="res-articles" class="media-list">
                <li class="media" ng-repeat="publishArea in vm.publishAreas" >
                    {{publishArea}}
                </li>
            </ul>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
