
<div>
    <h2>{{vm.news.newsTitle}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <ul class="list-inline">
        <li class="posted-by"><i class="fa fa-user"></i> <a href="#">{{vm.news.createBy.login}}</a></li>
        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i>{{vm.news.updateDate | date:'medium'}}</a></li>
        <li class="views"><a href="#"><i class="fa fa-eye"></i>{{vm.news.noOfViews}}</a></li>
        <li class="loves"><button id="likebtn" ng-click="vm.updateLike()" href="#" target="">
            <i class="fa fa-thumbs-up"></i></button></li>{{vm.news.noOfLikes}}
    </ul>
    <p>{{vm.news.newsDescription}}</p>

    <div class="news-tags">
        <span>Tags:</span>
        <ul class="list-inline">
            <li><a href="#">{{vm.news.tag1}}</a>,</li>
            <li><a href="#">{{vm.news.tag2}}</a>,</li>
            <li><a href="#">{{vm.news.tag3}}</a>,</li>
            <li><a href="#">{{vm.news.tag4}}</a></li>
        </ul>
    </div>
    <ul class="list-inline share-link">
        <li><a href="#"><img src="images/others/s1.png" alt=""></a></li>
        <li><a href="#"><img src="images/others/s2.png" alt=""></a></li>
        <li><a href="#"><img src="images/others/s3.png" alt=""></a></li>
        <li><a href="#"><img src="images/others/s4.png" alt=""></a></li>
    </ul>
</div>

<ul id="saved-comments" class="media-list">
    <li class="media" ng-if="cmmnt.news.id == vm.news.id " ng-repeat="cmmnt in vm.commentsList track by cmmnt.id" >
        <div class="media-left">
            <i class="fa fa-user fa-4" aria-hidden="true"></i>
        </div>
        <div class="media-body">
            <h7><span style="color: #0F6AB4;">{{cmmnt.createBy.login}}</span> {{cmmnt.updateDate | date:'medium'}}</h7>
            <p>{{cmmnt.userComment}}</p>
        </div>
    </li>
</ul>

commentSummery





<h4>Connected Articles</h4>
<ul id="similar-articles" class="media-list">
    <li class="media" ng-repeat="sarticle in vm.connectedArticles" >
        <div class="media-body">
            <a href="/#/news/{{sarticle.id}}">{{sarticle.newsTitle}}</a>
        </div>
    </li>
</ul>

<h4>Similar Type of Articles</h4>
<ul id="similar-articles" class="media-list">
    <li class="media" ng-repeat="sarticle in vm.similerArticles" >
        <div class="media-body">
            <a href="/#/news/{{sarticle.id}}">{{sarticle.newsTitle}}</a>
        </div>
    </li>
</ul>


<h4>Summery Similar Type of Articles</h4>
<ul id="similar-articles" class="media-list">
        <div class="media-body">
            {{vm.similerArticles[0].emotions}}
        </div>

</ul>

<h4>Possitive Comment Summery </h4>
<ul id="similar-articles" class="media-list">
    <div class="media-body">
        {{vm.commentSummery.possitives}}
    </div>

</ul>

<h4>Negative Comment Summery</h4>
<ul id="similar-articles" class="media-list">
    <div class="media-body">
        {{vm.commentSummery.negatives}}
    </div>

</ul>


<form name="addCommentForm" role="form" novalidate ng-submit="vm.saveComment()" show-validation>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
        <div class="form-group" ng-show="vm.comment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_userComment">User Comment</label>
            <textarea rows="10" type="text" class="form-control" name="userComment" id="field_userComment"
                   ng-model="vm.comment.userComment"
                   required />
            <div ng-show="editForm.userComment.$invalid">
                <p class="help-block"
                   ng-show="editForm.userComment.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="rateyo-readonly-widg"></div>

        <div class="form-group">
            <input type="hidden" class="form-control" name="rating" id="field_rating"
                   ng-model="vm.comment.rating"
                    />
            <div ng-show="editForm.rating.$invalid">
                <p class="help-block"
                   ng-show="editForm.rating.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
<script>
    $( document ).ready(function() {
        var rating = 0;
        $("#field_rating").val(rating);
        $(".rateyo-readonly-widg").rateYo({
            rating: rating,
            numStars: 5,
            precision: 0,
            minValue: 1,
            maxValue: 5
        }).on("rateyo.change", function (e, data) {
            $("#field_rating").val(data.rating);
        });
    });
</script>
