<div>
    <h2>News</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="news.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new News
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newsTitle"><span>News Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newsDescription"><span>News Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="noOfLikes"><span>No Of Likes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="noOfShares"><span>No Of Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="noOfViews"><span>No Of Views</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="emotions"><span>Emotions</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isActive"><span>Is Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span>Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updateDate"><span>Update Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subCategory.id"><span>Sub Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createBy.login"><span>Create By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updateBy.login"><span>Update By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="news in vm.news track by news.id">
                    <td><a ui-sref="news-detail({id:news.id})">{{news.id}}</a></td>
                    <td>{{news.newsTitle}}</td>
                    <td>{{news.newsDescription}}</td>
                    <td>{{news.noOfLikes}}</td>
                    <td>{{news.noOfShares}}</td>
                    <td>{{news.noOfViews}}</td>
                    <td>{{news.emotions}}</td>
                    <td>{{news.isActive}}</td>
                    <td>{{news.createDate | date:'medium'}}</td>
                    <td>{{news.updateDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="sub-category-detail({id:news.subCategory.id})">{{news.subCategory.name}}</a>
                    </td>
                    <td>
                        {{news.createBy.login}}
                    </td>
                    <td>
                        {{news.updateBy.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="news-detail({id:news.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news.edit({id:news.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news.delete({id:news.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
