
<div>
    <h2><span>User Like</span> {{vm.userLike.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Is Like</span></dt>
        <dd>
            <span>{{vm.userLike.isLike}}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
            <span>{{vm.userLike.isActive}}</span>
        </dd>
        <dt><span>Create Date</span></dt>
        <dd>
            <span>{{vm.userLike.createDate | date:'medium'}}</span>
        </dd>
        <dt><span>Update Date</span></dt>
        <dd>
            <span>{{vm.userLike.updateDate | date:'medium'}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.userLike.news.id})">{{vm.userLike.news.id}}</a>
        </dd>
        <dt><span>Create By</span></dt>
        <dd>
            {{vm.userLike.createBy.id}}
        </dd>
        <dt><span>Update By</span></dt>
        <dd>
            {{vm.userLike.updateBy.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="user-like-detail.edit({id:vm.userLike.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
