
<div>
    <h2><span>Sub Category</span> {{vm.subCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.subCategory.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.subCategory.description}}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
            <span>{{vm.subCategory.isActive}}</span>
        </dd>
        <dt><span>Create Date</span></dt>
        <dd>
            <span>{{vm.subCategory.createDate | date:'medium'}}</span>
        </dd>
        <dt><span>Update Date</span></dt>
        <dd>
            <span>{{vm.subCategory.updateDate | date:'medium'}}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
            <a ui-sref="category-detail({id:vm.subCategory.category.id})">{{vm.subCategory.category.id}}</a>
        </dd>
        <dt><span>Create By</span></dt>
        <dd>
            {{vm.subCategory.createBy.login}}
        </dd>
        <dt><span>Update By</span></dt>
        <dd>
            {{vm.subCategory.updateBy.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="sub-category-detail.edit({id:vm.subCategory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
