
<div>
    <h2><span>Comment</span> {{vm.comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>User Comment</span></dt>
        <dd>
            <span>{{vm.comment.userComment}}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
            <span>{{vm.comment.rating}}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
            <span>{{vm.comment.isActive}}</span>
        </dd>
        <dt><span>Create Date</span></dt>
        <dd>
            <span>{{vm.comment.createDate | date:'medium'}}</span>
        </dd>
        <dt><span>Update Date</span></dt>
        <dd>
            <span>{{vm.comment.updateDate | date:'medium'}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.comment.news.id})">{{vm.comment.news.id}}</a>
        </dd>
        <dt><span>Create By</span></dt>
        <dd>
            {{vm.comment.createBy.login}}
        </dd>
        <dt><span>Update By</span></dt>
        <dd>
            {{vm.comment.updateBy.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="comment-detail.edit({id:vm.comment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
