<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <center>
            <h1>Welcome, News Analyzer  !</h1>
            <p class="lead">Online News, Trends, and Analysis</p>

            <img src="images/news-analysis-monkeylearn-kimono.jpg"/>


            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>
            </center>
        </div>
    </div>
</div>
